@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Signika:wght@300..700&display=swap');
body{
  font-family: 'Poppins' , sans-serif;
  margin: 0;
}

/* MAIN------------------- */

.container{
  width: 900px;
  max-width: 90vw;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  transition: transform .5s;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

header .icon-cart{
  position: relative;
}
header .icon-cart span{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -20px;
}
.listProduct .items img{
  width: 90%;
  filter: drop-shadow(0 50px 20px #0009);
}
.listProduct{
  display: grid;
grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.listProduct .items{
  background-color: #eeeee6;
  padding: 20px;
  border-radius: 20px;
}
.listProduct .items h2{
  font-weight: 500;
  font-size: large;
}
.listProduct .items .price{
  letter-spacing: 7px;
  font-size: small;
}
.listProduct .items .addCart{
  background: #000;
  color: #eee;
  padding: 5px 10px;
  margin-top:10px ;
  border-radius: 18px;
  border: none;
  cursor: pointer;
}

.cartTab{
  width: 400px;
  background-color: black;
  color: white;
  position: fixed;
  inset: 0 -400px 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: inset 0.5s;
}
/* mine--- */
body.showCart .cartTab{
      inset: 0 0 0 auto;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
.cartTab .btn{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cartTab .btn button{
  background-color: #e8bc0e;
  border: none;
  font-family: 'Poppins';
  font-weight: 500;
  cursor: pointer;
}
.cartTab .btn .close{
  background: #eee;
}
.cartTab .listCart .item img{
width: 100%;
}
.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
background: transparent;
color: #eee;
}
.listCart .item:nth-child(even){
    background-color: #eee1; 
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}

@media  screen and (max-width: 992px) {
  .listProduct{
    grid-template-columns:repeat(3, 1fr) ;
  }
}

@media  screen and (max-width: 532px) {
 .listProduct{
    grid-template-columns:repeat(2, 1fr) ;
  }
}
